{% extends "header_footer.html" %}
{% load static %}
{% block content %}

<h3 class="text-22 text-midnight text-bold mb-4">Gallery Form</h3>
<form method="POST" action="/edit_gallery/{{gallery.gallery_id}}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-label">
            <label for="exampleFormControlSelect1">Bloodbank</label>
        </div>
        <select name="b_id" class="form-control" id="exampleFormControlSelect1">
            {% for data in flag %}
            <option value="{{data.b_id}}">{{data.b_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <div class="input-label">
            <label for="exampleFormControlSelect3">Event</label>
        </div>
        <select name="event_id" class="form-control" id="exampleFormControlSelect3">
            {% for data in temp2 %}
            <option value="{{data.event_id}}">{{data.e_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="submit-btn">SUBMIT FORM</button>
    </div>
</form>
{% endblock %}