{% extends "header_footer.html" %}
{% load static %}
{% block content %}
<h3 class="text-22 text-midnight text-bold mb-4">Hospital Form</h3>
    <form method="POST" action="/hospital_form/">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-label">
                <label>Hospital Name</label>
            </div>
        <input type="text" class="form-control" value="" name="h_name">
        </div>
        <div class="form-group">
            <div class="input-label">
                <label>Address</label>
        </div>
        <textarea class="form-control" id="textarea" name="h_address" rows="5"></textarea>
        </div>
        <div class="form-group">
            <div class="input-label">
                <label>Email</label>
            </div>
            <input type="email" class="form-control" value="" name="h_email">
        </div>
        <div class="form-group">
            <div class="input-label">
                <label>Password</label>
            </div>
            <input type="password" class="form-control" value="" name="h_pwd">
        </div>
        <div class="form-group col-md-4">
            <label>Contact Number</label>
            <input type="number" class="form-control" value="" placeholder="Enter contact number here" name="h_contact">
        </div>
        <div class="form-group">
            <div class="input-label">
                <label for="exampleFormControlSelect2">Area</label>
            </div>
            <select name="area_id" class="form-control" id="exampleFormControlSelect2">
            {% for data in flag %}
                <option value="{{data.area_id}}">{{data.area_name}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="submit-btn">SUBMIT FORM</button>
        </div>
    </form>

{% endblock %}