{% extends "client_header.html" %}
{% load static %}
{% block content %}
<section class="section-feat-about-us section-secondary-bg">

            <div class="side-background">
                <div class="col-md-6 feat-img-side-bg visible-lg">
                    <div class="row">
                        <img src="images/process_2.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-6 about-us-info-block" >

                        <div class="about-us-info">
                            <h3 class="about-us-slogan about-us-slogan-bold">
                                <i class="text-curly text-highlighter-primary">DEEP BLOODBANK</i><br>
                            </h3>

                            <p class="margin-top-32 margin-bottom-32">
                                <br />
                                Fostering strong relationships with our clients and their families is at the core of everything we do.
                                Our friendly and professional team of care coordinators work hard to ensure they find the right care giver for each client.
                                <br /> <br />
                            </p>

                            <p><a href="/client/appointment_details" class="btn btn-theme margin-bottom-32 wow fadeInLeft">BOOK APPOINTMENT</a></p>

                        </div>

                    </div>
                </div>
            </div>

        </section>
{% endblock %}