{% extends "client_header.html" %}
{% load static %}
{% block content %}

        <section class="section-content-block section-process">

            <div class="container">

                <div class="row hidden">

                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading"><span>BloodBank</span> Directories</h2>

                    </div> <!-- end .col-sm-10  -->

                </div> <!--  end .row  -->

                <div class="row section-heading-wrapper">

                    <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h2>BloodBank Directories</h2>
                        <span class="heading-separator heading-separator-horizontal"></span>

                    </div> <!-- end .col-sm-10  -->


                </div> <!-- end .row  -->

                <div class="row wow fadeInUp">

                    <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">

                        <div class="process-layout">

                            <figure class="process-img">

                                <img src="images/BB1.jpg" alt="service" />
                                <div class="step">
                                    <h3>Jinal BloodBank</h3>
                                </div>
                            </figure> <!-- end .cause-img  -->

                        </div> <!--  end .process-layout -->

                    </div> <!--  end .col-lg-3 -->



                    <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">

                        <div class="process-layout">

                            <figure class="process-img">
                                <img src="images/process_2.jpg" alt="process" />
                                <div class="step">
                                    <h3>Deep BankBlood</h3>
                                </div>
                            </figure> <!-- end .cau<h5 class="step">1</h5>se-img  -->

                        </div> <!--  end .process-layout -->

                    </div> <!--  end .col-lg-3 -->


                    <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">

                        <div class="process-layout">

                            <figure class="process-img">
                                <img src="images/process_3.jpg" alt="process" />
                                <div class="step">
                                    <h3>Prapti BloodBank</h3>
                                </div>
                            </figure> <!-- end .cause-img  -->



                        </div> <!--  end .process-layout -->

                    </div> <!--  end .col-lg-3 -->

                </div> <!--  end .row -->

            </div> <!--  end .container  -->
            <div class="row wow fadeInUp">

                    <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">

                        <div class="process-layout">

                            <figure class="process-img">

                                <img src="images/BB1.jpg" alt="service" />
                                <div class="step">
                                    <h3>Jinal BloodBank</h3>
                                </div>
                            </figure> <!-- end .cause-img  -->

                        </div> <!--  end .process-layout -->

                    </div> <!--  end .col-lg-3 -->



                    <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">

                        <div class="process-layout">

                            <figure class="process-img">
                                <img src="images/process_2.jpg" alt="process" />
                                <div class="step">
                                    <h3>Deep BloodBank</h3>
                                </div>
                            </figure> <!-- end .cau<h5 class="step">1</h5>se-img  -->

                        </div> <!--  end .process-layout -->

                    </div> <!--  end .col-lg-3 -->


                    <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">

                        <div class="process-layout">

                            <figure class="process-img">
                                <img src="images/gallery_1.jpg" alt="process" />
                                <div class="step">
                                    <h3>Prapti BloodBank</h3>
                                </div>
                            </figure> <!-- end .cause-img  -->



                        </div> <!--  end .process-layout -->

                    </div> <!--  end .col-lg-3 -->

                </div> <!--  end .row -->

            </div> <!--  end .container  -->

        </section>
{% endblock %}
