{% extends "client_header.html" %}
{% load static %}
{% block content %}
<section class="page-header" data-stellar-background-ratio="1.2">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


                <h3>
                    Login
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> /Login
                </p>


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->

<!--  MAIN CONTENT  -->


<section class="section-content-block section-secondary-bg">

    <div class="container">

        <div class="contact-form-block">

            <h2 class="contact-title">Login</h2>

            <form role="form" action="#" method="post" id="contact-form">

                <div class="form-group">
                    <input type="text" class="form-control" id="user_name" name="email" placeholder="Email ID"
                           data-msg="Please Write Your Name"/>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" id="user_email" name="Password" placeholder="Password"
                           data-msg="Please Write Your Valid Email"/>
                </div>

                <a href="/client/forgot/">Forgot Code?</a>

                <div class="form-group">
                    <button type="submit" class="btn btn-theme">Login</button>
                </div>
                 Not registered yet?   <a href="/client/registration/">REGISTER!</a>

            </form>

        </div> <!-- end .contact-form-block  -->


    </div> <!--  end .container -->

</section> <!-- end .section-content-block  -->

<!-- START FOOTER  -->
{% endblock %}