{% extends "client_header.html" %}
{% load static %}
{% block content %}
<section class="page-header" data-stellar-background-ratio="1.2">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->

<!--  MAIN CONTENT  -->


<section class="section-content-block section-secondary-bg">

    <div class="container">

        <div class="contact-form-block">

            <h2 class="contact-title">Profile</h2>

            <form method="post" class="needs-validation" action="/bb_client/client_update_profile/">
                {% csrf_token %}
                <div class="card-header">
                    <h4>Edit Profile</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_Name"
                               name="First_Name" value="{{ca.First_Name}}" placeholder="first name" data-msg="Please Write Your First name"/>
                    </div>

                    <div class="form-group">
                        <label for="last_name">last Name</label>
                        <input type="text" class="form-control" id="last_Name" name="last_Name"
                               value="{{ca.Last_Name}}" placeholder="last name"
                               data-msg="Please Write Your password"/>
                    </div>

                    <div class="form-group">
                        <label>BloodGroup</label>
                        <select class="form-control" name="BloodGroup_id">

                            {% for data in bloodgroup %}
                            <option value="{{data.Bloodgroup_id}}">{{data.bloodgroup_Type}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Gender">Gender</label>
                        <input type="text" class="form-control" id="Gender" name="Gender"
                               value="{{ca.Gender}}">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input style="padding:20px;" type="email" class="form-control"
                               id="email" name="Email_id" value="{{ca.Email_id}}"
                               placeholder="Email"
                               data-msg="Please Write Your Valid Email"/>
                    </div>
                     <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password"
                               name="Password" value="{{ca.password}}">
                    </div>

                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" class="form-control" id="dob"
                               name="Date_of_Birth" value="{{birth}}">
                    </div>

                    <div class="form-group">
                        <label for="user_weight">Donor Weight</label>
                        <input type="number" class="form-control" id="user_weight"
                               name="Donor_Weight" value="{{ca.user_weight}}">
                    </div>

                    <div class="form-group">
                        <label for="contact_no">Contact N0</label>
                        <input type="number" class="form-control" id="contact_no"
                               name="Contact_N0" value="{{ca.contact_no}}">
                    </div>

                    <div class="form-group">
                        <label for="id_proof">ID Proof</label>
                        <input type="text" class="form-control" id="id_proof" name="Id_Proof"
                               value="{{ca.id_proof}}">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="Address"
                               value="{{ca.address}}">
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </form>


        </div> <!-- end .contact-form-block  -->


    </div> <!--  end .container -->

</section> <!-- end .section-content-block  -->

<!-- START FOOTER  -->
{% endblock %}