{% extends "client_header.html" %}
{% load static %}
{% block content %}
<section class="page-header" data-stellar-background-ratio="1.2">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


                <h3>
                    BloodBank Single Page
                </h3>

                <!--                <p class="page-breadcrumb">-->
                <!--                    <a href="#">Home</a> / <a href="#">Events</a> / Single Event-->
                <!--                </p>-->


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->

<section class="section-content-block">

    <div class="container">

        <div class="row">


            <div class="article-event clearfix">

                <div class="col-sm-12">

                    <article class="post single-post-inner">

                        <div class="post-inner-featured-content">
                            <img alt="" src="{% static 'images/event_single.jpg' %}">
                        </div>


                        <div class="single-post-inner-title">
                            <h2>International Blood Donation Day-2017</h2>
                            <p class="single-post-meta"><i class="fa fa-user"></i>&nbsp; Deborah Beck &nbsp; &nbsp; <i
                                    class="fa fa-share"></i>&nbsp; Blood, Save Life</p>
                        </div>

                        <div class="single-post-inner-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis necessitatibus magni
                                optio nobis dicta esse quas molestias deserunt et, sint fuga debitis asperiores dolorum
                                illum soluta quae eos itaque nemo.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis tenetur nulla
                                consequatur. Facere eaque quod assumenda dolorem beatae, nulla et rem quisquam possimus
                                vitae, commodi optio sunt fugit? Illo, itaque debitis. Amet, ex pariatur dolores
                                cupiditate provident recusandae veritatis voluptatibus velit eius quos impedit nulla
                                saepe iste dolor assumenda reprehenderit laborum itaque id. Voluptatum sit ipsam
                                provident officiis, aspernatur aliquid.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa doloremque incidunt ad
                                nobis quod natus, repudiandae suscipit iste error laudantium aperiam, quae, eum
                                aspernatur hic facere officiis architecto totam quis ea nostrum consequuntur? Veniam qui
                                ad tempore, dicta obcaecati veritatis eaque voluptatem saepe animi. Magnam nemo dolor
                                excepturi eligendi, repellendus.</p>

                        </div>


                    </article> <!--  end single-post-container -->


                </div> <!--  end .single-post-container -->

                <div class="col-sm-4">

                    <h4 class="event-content-title">Details</h4>

                    <p class="event-content-info">
                        <!--                        <span class="event-sub-content-title">Date:<em class="date" value="Event_Date">{{eve.Event_Date}}</em></span>-->
                        <span class="event-sub-content-title" value="Description">Description:</br>
                            {{bb.description}}</span>
                        <span class="event-sub-content-title" value="Address">Address:</br>{{bb.b_address}}</span>
                        <span class="event-sub-content-title" value="Contact_no">Contact No:</br>
                            {{bb.b_contact}}</span>
                        <span class="event-sub-content-title" value="Timings">Timing:</br>{{bb.b_timing}}</span>
                        <span class="event-sub-content-title" value="Email">Email:</br>{{bb.b_email}}</span>
                        <a href="/client/client_appointment/{{blood_id}}">
                            <button class="btn btn-secondary buttons-copy buttons-html5 pull-right"
                                    tabindex="0"
                                    aria-controls="tableExport"><span>Book Appointment</span></button>
                        </a>

                    </p>
                </div>
            </div>

            <!--            <form accept-charset="UTF-8"-->
            <!--                  action="/bb_client/client_feedback/" method="post">-->
            <!--                {% csrf_token %}-->
            <!--                <input id="ratings-hidden" name="Ratings" type="hidden">-->
            <!--                <textarea class="form-control animated" cols="50" id="new-review" name="Description"-->
            <!--                          placeholder="Enter your review here..." required></textarea>-->
            <!--                <input type="hidden" name="BloodBank_id" value="{{bb.BloodBank_id}}">-->
            <!--                <div class="full_bt center">-->
            <!--                    <button class="theme-btn btn-style-two"-->
            <!--                            type="submit">Save-->
            <!--                    </button>-->
            <!--                </div>-->
            <!--            </form>-->

            {% if f.rate == 5 %}
            <span class="Ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            {% elif f.rate == 4 %}
            <span class="Ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </span>
            {% elif f.rate == 3 %}
            <span class="Ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </span>
            {% elif f.rate == 2 %}
            <span class="Ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </span>
            {% else %}
            <span class="Ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </span>
            {% endif %}

            <form accept-charset="UTF-8"
                  action="/bb_client/client_feedback/" method="post" class="rating-form">
                {% csrf_token %}

                <div>
                    <span class="Ratings">
                        <input name="rate" type="radio" value="5">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <div>
                                                                <span class="Ratings">
                                                                    <input name="rate" type="radio" value="4">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </span>
                </div>
                <div>
                                                                <span class="Ratings">
                                                                    <input name="rate" type="radio" value="3">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </span>
                </div>
                <div>
                                                                <span class="Ratings">
                                                                    <input name="rate" type="radio" value="2">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </span>
                </div>
                <span class="Ratings">
                                                                    <input name="rate" type="radio" value="1">
                                                                    <i class="fa fa-star"></i>
                                                                </span>

                <textarea class="form-control animated"
                          cols="50" id="new-review"
                          name="Description"
                          placeholder="Enter your review here..."
                          required></textarea>
                <input type="hidden" name="BloodBank_id"
                       value="{{bb.b_id}}">
                <div class="full_bt center">
                    <button class="theme-btn btn-style-two"
                            type="submit">Save
                    </button>
                </div>
            </form>

            {% if count_rate >= 4.0 %}
            <span class="Ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
            {% elif count_rate >= 3.0 %}
            <span class="Ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
            {% elif count_rate >= 2.0 %}
            <span class="Ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
            {% elif count_rate >= 1.0 %}
            <span class="Ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
            {% else %}
            <span class="Ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
            {% endif %}


            <div class="article-author clearfix">

                <div class="col-sm-12">

                    <div id="map_canvas"></div>

                </div>

            </div>

        </div> <!--  end .row  -->


        <div class="row">

            <div class="article-author clearfix">

                <div class="topic-bold-header clearfix">
                    <h4>Event Created by <a href="#">Deborah Beck</a></h4>
                </div> <!-- end .topic-bold-header  -->

                <figure class="author-avatar">
                    <a href="#">
                        <img src="{% static 'images/user_1.jpg' %}" alt="Avatar">
                    </a>
                </figure>

                <div class="about_author">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam feugiat vitae ultricies eget, tempor sit amet, ante. Donec eu libero sit amet
                    quam egestas semper.
                </div>

                <div class="social-icons margin-top-11 clearfix">
                    <a class="fa fa-facebook social_icons" href="#" data-original-title="Facebook"></a>
                    <a class="fa fa-twitter social_icons" href="https://twitter.com/#"
                       data-original-title="Twitter"></a>
                    <a class="fa fa-flickr social_icons" href="http://www.flickr.com/photos/#"
                       data-original-title="Flickr"></a>
                    <a class="fa fa-youtube social_icons" href="http://www.youtube.com/#"
                       data-original-title="Youtube"></a>
                    <a class="fa fa-linkedin social_icons" href="#" data-original-title="Linkedin"></a>
                </div>

            </div> <!-- end .article-author  -->

            <div class="post-nav-section clearfix">

                <a class="btn btn-primary fr" href="#">Next Event <i class="fa fa-angle-double-right"></i></a>
                <a class="btn btn-primary" href="#"><i class="fa fa-angle-double-left"></i> Previous Event</a>

            </div> <!-- end .post-nav-section  -->

        </div>

    </div> <!--  end container -->

</section> <!-- end .section-content-block  -->
{% endblock %}

